{% extends "base.html" %}
{% block title %}Select your items{% endblock %}
{% block content %}
<form method = "POST">
    <p></p>
    <h5 align = "left">Please select items in drop-downs below.</h5>
    <p> You can skip some of the drop-downs and leave it as it is if you don't have enough items yet. </p>
    <div class="d-grid gap-3">
        <select class="form-select" aria-label="Default select example" id="item1" name="item1">
          <option selected>Select the 1st item</option>
          <option value="B.F. Sword">B.F. Sword</option>
          <option value="Chain Vest">Chain Vest</option>
          <option value="Giant's Belt">Giant's Belt</option>
          <option value="Needlessly Large Rod">Needlessly Large Rod</option>
          <option value="Negatron Cloak">Negatron Cloak</option>
          <option value="Recurve Bow">Recurve Bow</option>
          <option value="Sparring Gloves">Sparring Gloves</option>
          <option value="Spatula">Spatula</option>
          <option value="Tear of the Goddess">Tear of the Goddess</option>
        </select>
        <select class="form-select" aria-label="Default select example" id="item2" name="item2">
          <option selected>Select the 2nd item</option>
          <option value="B.F. Sword">B.F. Sword</option>
          <option value="Chain Vest">Chain Vest</option>
          <option value="Giant's Belt">Giant's Belt</option>
          <option value="Needlessly Large Rod">Needlessly Large Rod</option>
          <option value="Negatron Cloak">Negatron Cloak</option>
          <option value="Recurve Bow">Recurve Bow</option>
          <option value="Sparring Gloves">Sparring Gloves</option>
          <option value="Spatula">Spatula</option>
          <option value="Tear of the Goddess">Tear of the Goddess</option>
        </select>
        <select class="form-select" aria-label="Default select example" id="item3" name="item3">
          <option selected>Select the 3rd item</option>
          <option value="B.F. Sword">B.F. Sword</option>
          <option value="Chain Vest">Chain Vest</option>
          <option value="Giant's Belt">Giant's Belt</option>
          <option value="Needlessly Large Rod">Needlessly Large Rod</option>
          <option value="Negatron Cloak">Negatron Cloak</option>
          <option value="Recurve Bow">Recurve Bow</option>
          <option value="Sparring Gloves">Sparring Gloves</option>
          <option value="Spatula">Spatula</option>
          <option value="Tear of the Goddess">Tear of the Goddess</option>
        </select>
        <select class="form-select" aria-label="Default select example" id="item4" name="item4">
          <option selected>Select the 4th item</option>
          <option value="B.F. Sword">B.F. Sword</option>
          <option value="Chain Vest">Chain Vest</option>
          <option value="Giant's Belt">Giant's Belt</option>
          <option value="Needlessly Large Rod">Needlessly Large Rod</option>
          <option value="Negatron Cloak">Negatron Cloak</option>
          <option value="Recurve Bow">Recurve Bow</option>
          <option value="Sparring Gloves">Sparring Gloves</option>
          <option value="Spatula">Spatula</option>
          <option value="Tear of the Goddess">Tear of the Goddess</option>
        </select>
        <select class="form-select" aria-label="Default select example" id="item5" name="item5">
          <option selected>Select the 5th item</option>
          <option value="B.F. Sword">B.F. Sword</option>
          <option value="Chain Vest">Chain Vest</option>
          <option value="Giant's Belt">Giant's Belt</option>
          <option value="Needlessly Large Rod">Needlessly Large Rod</option>
          <option value="Negatron Cloak">Negatron Cloak</option>
          <option value="Recurve Bow">Recurve Bow</option>
          <option value="Sparring Gloves">Sparring Gloves</option>
          <option value="Spatula">Spatula</option>
          <option value="Tear of the Goddess">Tear of the Goddess</option>
        </select>
        <select class="form-select" aria-label="Default select example" id="item6" name="item6">
          <option selected>Select the 6th item</option>
          <option value="B.F. Sword">B.F. Sword</option>
          <option value="Chain Vest">Chain Vest</option>
          <option value="Giant's Belt">Giant's Belt</option>
          <option value="Needlessly Large Rod">Needlessly Large Rod</option>
          <option value="Negatron Cloak">Negatron Cloak</option>
          <option value="Recurve Bow">Recurve Bow</option>
          <option value="Sparring Gloves">Sparring Gloves</option>
          <option value="Spatula">Spatula</option>
          <option value="Tear of the Goddess">Tear of the Goddess</option>
        </select>
        <p> After you have finished your selection, click the button below to proceed. </p>
            <button type="submit" class="btn btn-primary">Show team recommendations</button>
    </div>
</form>
{% endblock %}